#signUpScreen {
	width: 100%;
	height: 100vh;
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1040;
	
}

#signUpDiv {
	width: 50%;
	border-color: #3147ae;
	border: solid 1px;
	border-radius: 15px;
	font-size: x-large;
	background-color: #5c9bd1;
	opacity: 1;
	position: relative;
	top: 20%;
	overflow: hidden;
}

#signUpDivContent {
	background-color: #a8cae7;
}

#signUpDivHeader {
	color: white;
}
#signUpDivFooter {
	padding: 10px 0px 10px 0px;
	background-color: #a8cae7;
}

.borderlessText {
	border: 0px;
	border-bottom: solid 1px;
	background-color: rgba(1,1,1,0);
	width: 70%;
}

#cc {
	height: 25px;
	width: 25px;
}

#closeSignUp {
	position: absolute;
	top: 5%;
	left: 93%;
    background-color: rgba(1,1,1,0);
    border-color: rgba(1,1,1,0);
    color: white;
}

#signUpAlert {
	font-size: medium;
}